@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 750px;
    box-sizing: border-box;
    overflow: hidden;
}

#bg-video {
    display: block !important;
}

.msg-group {
    border-radius: 16px;
    padding: 20px 16px 16px 16px;
    margin-bottom: 32px;
    position: relative;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
    overflow: visible;
    background: linear-gradient(135deg, #1e8449, #145a32);
}

.msg-group::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 70%;
    width: 100%;
    height: 60px;
    background-image: url('http://127.0.0.1:8087/widget/assets/pile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
    filter: drop-shadow(0 10px 0px 3px rgba(0, 0, 0, 0.2));
    pointer-events: none;
}

.msg-username {
    font-family: 'Mountains of Christmas', cursive;
    color: #fff !important;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 1.3em;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 2;
    font-weight: 700;
}

.msg-line {
    font-size: 1.15em;
    line-height: 1.4;
    position: relative;
    z-index: 2;
}